@font-face {
  font-family: "SF Pro Display";
  src: url("/public/fonts/FontsFree-Net-SFProDisplay-Semibold.ttf");
  src: url("/public/fonts/SFPRODISPLAYMEDIUM.OTF");
  src: url("/public/fonts/SFPRODISPLAYREGULAR.OTF");
}

body {
  margin: 0;
  font-family: "SF Pro Display";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
